*{
    box-sizing: border-box;
}
:root{
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

    --radial-gradient: radial-gradient( hsl(280, 87%, 65%),hsl(192, 100%, 67%));
    --light-green: hsl(192, 100%, 67%);
}
body{
    padding: 0vh 30vw;
    background-color: var(--Very-Dark-Blue);
    background-image: url('images/bg-desktop-dark.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.heading{
    margin: 10vh 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-text{
    font-size: 40px;
    text-transform: uppercase;
    color: var(--Very-Light-Gray);
}
.task-block{
    padding: 2.5vh 1.5vw;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Very-Light-Grayish-Blue);
    font-size: 16px;   
    display: flex;
    align-items: center;
}
input[type="text"]{
    width: 100%;
    font-size: 16px;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border: none; 
    color: var( --Very-Light-Grayish-Blue);
}
input:focus{
    border: none;
    outline: none;
}
.add-new-task{
    border-radius: 3px;
    padding-right: 3vw;
}
.task:first-child{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.task-list{
    margin-top: 4vh;
}
.task{
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
    position: relative;
}
.check-img{
    padding: 6px;
    border: 2px solid var(--Very-Dark-Grayish-Blue);
    border-radius: 50%;
}
.check-img:hover{
    cursor: pointer;
    border: 2px solid var(--light-green);
}
.check-img-completed{
    background-image: var(--radial-gradient);
    border: 2px solid rgba(255, 255, 255, 0);
}
.task-detail{
    display: inline-block;
    cursor: pointer;
    margin-left: 1.5vw;
    margin-right: auto;
}
.close-img{
    display: none;
}
.close-img:hover{
    cursor: pointer;
}
.comleted-task-detail{
    color: var(--Dark-Grayish-Blue);
    text-decoration: line-through;
}
.active-tasks{
    display: inline-block;
}
.filter{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    gap: 0vh 1vw;
}
.task-list-footer{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 2vh 1.5vw;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Dark-Grayish-Blue);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.filter-element-active{
    color: var(--Bright-Blue) !important;
}
.filter-element:hover{
    cursor: pointer;
    color: var(--Very-Light-Gray);
}